
.nav{
    height: 60px;
    border: 2px solid black;
}
.col1{
    height: 96.5vh;
    width: 22%;
    border: 2px solid black;
    
}
.col2{
    height: 50vh;
    width: 77%;
    margin-left: 20px;
    border: 2px solid black;
    
}
.section{
    height: 100vh;
    display: flex;
    flex-direction: row;
    border: 2px solid black;
}
.comment{
    height:80%;
    width: 100%;
    margin-top: 20%;
    border: 2px solid black;
}
.logo{
    height: 50px;
    width: 50px;
    border-radius: 50px;
}
.nav1{
    height: 40px;
    width: 300px;
    border: 1px solid black;
    margin-top: 10px;
    margin-left: 90%;
}
.logout{
    margin: 50px;
    margin-top: 80%;
    width: 150px;
    height: 40px;
    background-color: aquamarine;
}

.cmt{
    display: flex;
    width: 60%;
    flex-direction: row;
}